@import 'reset.css';
@import 'header.css';

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #1e90ff 5%, #87ceeb);
  color: white;
}

header,
footer {
  min-height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-grow: 1;
  padding: 2vh 12vw;
}

main > * {
  width: 70%;
}
