@import 'weather-icons.min.css';

.main-content-wrapper {
  width: 70rem;
  margin: 2rem auto;
}

.location-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.date-time {
  font-size: 1rem;
}

.current-weather-wrapper,
.current-weather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.current-weather {
  position: relative;
}
.current-weather::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 101.3%;
  width: 3px;
  background-color: white;
}

.current-temp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-temp {
  font-size: 9rem;
}

.current-temp-desc {
  transform: translate(calc(-52%), -10px);
  font-size: 1.3rem;
}

.weather-details {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.weather-details li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail-data,
.forecast-day-detail {
  font-size: 2rem;
  margin-bottom: 5px;
}

.detail-title,
.forecast-day-detail-title {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.condition-img-style {
  font-size: 8.5rem;
}
.moon-style {
  font-size: 2.7rem;
}

.forecast-title,
.next-days-forecast li {
  margin-bottom: 0.4rem;
}
.forecast-day-details div {
  text-align: center;
}
.next-days-forecast li {
  background-color: rgba(30, 144, 255, 0.6);
  height: 5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.forecast-day-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast-day-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Animations */
.fade-in {
  opacity: 0;
  animation: fadeIn 550ms ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
